<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Author</h1>
                <br>
                <ul class="list-inline">                
                    <div class="col-md-6">
                        <ul>
                            <h3><a href="https://www.linkedin.com/in/herbertt-d-44a4aa186">Herbertt Diniz</a></h3>
                            <p>Ms.Computer Science</p>
							<p>Software Engineer.</p>
                        </ul>
                    </div>
                    
                </ul>
            </div>
        </div>
    </div>
    <br> <br>
</section>
