    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h1>Works with.</h1>
              <br/>
		<span class="icon-bar"><img class="img-responsive" src="img/redis.png" alt=""></span>
                <span class="icon-bar"> <img class="img-responsive" src="img/apache-kafka.png" alt=""></span>
                <span class="icon-bar"> <img class="img-responsive" src="img/RabbitMQLogo.png" alt=""></span>
	      </div>  
        </div>
    </section>

